---
---

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="author" content="Toby Reznov, Jason Cemra">

	<!-- For that slick site preview -->
	<meta property="og:url" content="{{ site.canonical-url }}">
	<meta property="og:title" content="{{ site.preview-title }}">
	<!-- <meta property="og:image" content="{{ site.canonical-url }}/img/preview-img.jpg"> -->
	<meta property="og:description" content="{{ site.description }}">
	<meta property="og:type" content="website" />

	<title>{{ site.title }}</title>

	<link rel="stylesheet" type="text/css" href="./styles/main.css">
	<link rel="icon" href="{{ site.canonical-url }}/img/favicon/favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans" rel="stylesheet">
</head>
<body>

<div class="wrapper">
	<header>	
		<h1>{{ site.title }}</h1>
		<h2> Stickers by {{ site.stickers-author }} • Website by {{ site.site-author }} </h2>
	</header>

	<div class="jumbotron">
		<img src="./img/stickers/stars.jpg">
		<h3>Big boi image here</h3>
	</div>
	
	<hr>

	<div class="sticker-set">
		{% for sticker in site.data.stickers %}
		<div class="sticker-group">
			{% if sticker.story %}
			<div class="story-group">
				<input type="checkbox" id="chk-{{sticker.file}}">
				<label for="chk-{{sticker.file}}"><img src="./img/stickers/{{ sticker.file }}"></label>
				<div class="story">
					<p>{{ sticker.story }}</p>
				</div>
			</div>
			{% else %}
			<img src="./img/stickers/{{ sticker.file }}">
			{% endif %}
			<h3>{{ sticker.name }}</h3>
		</div>
		{% endfor %}
	</div>

	<footer>
		<p>All sticker designs © Toby Reznov. Website design © Jason Cemra </p>
		<p>Web hosting generously provided by Github Pages.</p>
	</footer>

</div>

</body>
</html>