---
---

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	
	<meta name="author" content="Toby Reznov, Jason Cemra">

	<!-- For that slick site preview -->
	<meta property="og:url" content="{{ site.canonical-url }}">
	<meta property="og:title" content="{{ site.preview-title }}">
	<!-- <meta property="og:image" content="{{ site.canonical-url }}/img/preview-img.png"> -->
	<meta property="og:description" content="{{ site.description }}">
	<meta property="og:type" content="website" />

	<title>{{ site.title }}</title>

	<link rel="stylesheet" type="text/css" href="./styles/main.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans" rel="stylesheet">

	<!-- Ultra mega favicon support -->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.canonical-url }}/img/favicons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.canonical-url }}/img/favicons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.canonical-url }}/img/favicons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.canonical-url }}/img/favicons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.canonical-url }}/img/favicons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.canonical-url }}/img/favicons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.canonical-url }}/img/favicons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.canonical-url }}/img/favicons/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="{{ site.canonical-url }}/img/favicons/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="{{ site.canonical-url }}/img/favicons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="{{ site.canonical-url }}/img/favicons/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="{{ site.canonical-url }}/img/favicons/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="{{ site.canonical-url }}/img/favicons/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="Penguin Stickers"/>
	<meta name="msapplication-TileColor" content="#A31AA3" />
	<meta name="msapplication-TileImage" content="{{ site.canonical-url }}/img/favicons/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="{{ site.canonical-url }}/img/favicons/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="{{ site.canonical-url }}/img/favicons/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="{{ site.canonical-url }}/img/favicons/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="{{ site.canonical-url }}/img/favicons/mstile-310x310.png" />
</head>
<body>

<div class="wrapper">
	<header>	
		<h1>{{ site.title }}</h1>
		<h2> Stickers by {{ site.stickers-author }} • Website by {{ site.site-author }} </h2>
	</header>

	<div class="jumbotron">
		<img src="./img/jumbotron.png">
		<h3>Everyday, think "fantastic".</h3>
	</div>
	
	<hr>

	<div class="sticker-set">
		{% for sticker in site.data.stickers %}
		<div class="sticker-group">
			{% if sticker.story %}
			<div class="story-group">
				<input type="checkbox" id="chk-{{sticker.file}}">
				<label for="chk-{{sticker.file}}"><img alt="{{ sticker.name }}" src="./img/stickers/{{ sticker.file }}" style="max-width: {{ sticker.scale }}%;"></label>
				<div class="story">
					<p>{{ sticker.story }}</p>
				</div>
			</div>
			{% else %}
			<img alt="{{ sticker.name }}" src="./img/stickers/{{ sticker.file }}" style="width: {{ sticker.scale }}%;">
			{% endif %}
			<h3>{{ sticker.name }}</h3>
		</div>
		{% endfor %}
	</div>

	<footer>
		<p>All sticker designs © Toby Reznov. Website design © Jason Cemra </p>
		<p>Web hosting generously provided by Github Pages.</p>
	</footer>

</div>

</body>
</html>